/de
/ActiveconfigInternal.hbm.xml
/Address.hbm.xml
/AllUsers.hbm.xml
/Articlenumber.hbm.xml
/Articlenumbertype.hbm.xml
/Companyidenttype.hbm.xml
/ConfigInternal.hbm.xml
/Contentunit.hbm.xml
/Country.hbm.xml
/Currency.hbm.xml
/Customer.hbm.xml
/Customeridentifcation.hbm.xml
/FulfillmentShipmentCustomer.hbm.xml
/FulfillmentShipmentPurchase.hbm.xml
/FulfillmentinfoCustomer.hbm.xml
/FulfillmentinfoPurchase.hbm.xml
/FulfillmentinfoitemCustomer.hbm.xml
/FulfillmentinfoitemPurchase.hbm.xml
/Inventory.hbm.xml
/InvoiceCustomer.hbm.xml
/InvoicePurchase.hbm.xml
/InvoiceShipmentCustomer.hbm.xml
/InvoiceShipmentPurchase.hbm.xml
/InvoiceitemCustomer.hbm.xml
/InvoiceitemPurchase.hbm.xml
/META-INF
/Mimepurpose.hbm.xml
/Mimetype.hbm.xml
/MultimediadocumentProduct.hbm.xml
/OrderCustomer.hbm.xml
/OrderPurchase.hbm.xml
/OrderinfoCustomer.hbm.xml
/OrderinfoSupplier.hbm.xml
/OrderitemCustomer.hbm.xml
/OrderitemPurchase.hbm.xml
/Ordertype.hbm.xml
/Orderunit.hbm.xml
/PaymentInvoicePurchase.hbm.xml
/PaymentPurchase.hbm.xml
/PaymentreceiptCustomer.hbm.xml
/PaymentreceiptInvoiceCust.hbm.xml
/Paymenttype.hbm.xml
/Pricetype.hbm.xml
/Product.hbm.xml
/Productcategory.hbm.xml
/Productreference.hbm.xml
/Productstatus.hbm.xml
/Producttype.hbm.xml
/Purchaseprice.hbm.xml
/Referencetype.hbm.xml
/RequestforquotationCustomer.hbm.xml
/Salesprice.hbm.xml
/ShipmentCustomer.hbm.xml
/ShipmentPurchase.hbm.xml
/ShipmentitemCustomer.hbm.xml
/ShipmentitemPurchase.hbm.xml
/Supplier.hbm.xml
/Supplieridentification.hbm.xml
/UserCustomer.hbm.xml
/UserInternal.hbm.xml
/UserSupplier.hbm.xml
/db.properties
/hibernate.cfg.template_do_not_delete
/hibernate.cfg.xml
